html, body {
  height: 100vh;
  margin: 0;
}

#mv-container {
    height: 90%;
    justify-content: center;
    align-items: center;
}

#aframe-container {
    height: 90%;
}

model-viewer {
    height: 100%;
    width: 100%;
}